.header {
    background: #8d8d8d;
    max-height: 42em;
}

.title.logo {
    float: left;
    padding: 3em 3em 3em 0;
}

.title * {
    margin: 0;
    color: #fff;
}

.title p {
    font-style: italic;
}

.logo {
    height: 15 em;
}

.logo * {
    display: block;
    height: 100%;
}

.logo img {
    min-width: 4.8em;
}

.logo + .title h1 {
    margin: 0.8rem 0;
}

.logo + .title.tagline h1 {
    margin: 0;
}

.nav {
    padding: 3em 0;
    text-align: right;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-left: 1em;
    padding: 0;
    font-weight: bold;
}

.nav a,
.nav-toggle {
    color: #fff;
}

.nav .active a,
.nav a:hover,
.nav-toggle:hover {
    color: #fff;
}

.nav a:hover,
.nav-toggle:hover {
    color: #fff;
    text-decoration: underline;
}

.nav-toggle {
    display: none;
}
